.eBikeDateTimeLabel {
	background-color: black;
	color: green;
	font-size: 32px;
}

.eBikeMainWindow {
	background-color: black;
	color: burlywood;
	font-size: 36px;
}

.eBikeMainWindowListBox {
	background-color: black;
	color: burlywood;
}

.eBikeWidgetBatteryGrid {
	background-color: black;
	color: black;
}

.eBikeWidgetBikeIconIconImage {
	background-color: black;
	background-image: url("../Resources/bike_icon.png");
	min-width: 96px;
	min-height: 96px;
}

.eBikeWidgetBikeIconNameLabel {
	background-color: black;
	color: burlywood;
	font-size: 16px;
}

.eBikeWidgetBatteryIconImage {
	background-color: black;
	min-width: 160px;
	min-height: 64px;
}

.eBikeWidgetBatteryPercentLabel {
	background-color: black;
	color: burlywood;
	font-size: 26px;
}

.eBikeWidgetBatteryExtraLabel {
	background-color: black;
	color: burlywood;
	font-size: 12px;
}

.eBikeWidgetAdditionalInfoLabel {
	background-color: black;
	color: burlywood;
	font-size: 20px;
}