.eBikeDateTimeLabel {
	background-color: rgb(29, 29, 23);
	color: burlywood;
}

.eBikeWidgetGrid {
	background-color: rgb(29, 29, 23);
	color: burlywood;
}

.eBikeMainWindow {
	background-color: rgb(29, 29, 23);
	color: burlywood;
}

.eBikeMainWindowListBox {
	background-color: rgb(29, 29, 23);
	color: burlywood;
}