.eBikeDateTimeLabel {
	background-color: black;
	color: green;
}

.eBikeWidgetGrid {
	background-color: black;
	color: black;
}

.eBikeMainWindow {
	background-color: black;
	color: burlywood;
	font-size: 36px;
}

.eBikeMainWindowListBox {
	background-color: black;
	color: burlywood;
}

.eBikeWidgetBikeLabel {
	background-color: black;
	color: burlywood;
	font-size: 12px;
}